<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Shop Creator!</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1712757711675922"
    crossorigin="anonymous"></script>
</head>
<body>
  <h1>D&D Shop Creator!</h1>
  <hr>
  <button type="button" id="low-button">Low</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" id="medium-button">Medium</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" id="high-button">High</button> 
  <hr> 

<form method="POST">
  {{ form.hidden_tag() }}
  <fieldset>
      <legend>Magic Item Settings</legend>
      <input type="checkbox" id="magic_checkbox" onchange="toggleMagic(this.checked)"> Exclude Magic Items<br>
      {{ form.magic_item_percentage_low.label }} {{ form.magic_item_percentage_low(id="magic_item_percentage_low", title="The minimum percentage of magic items in the shop inventory of 152 possible.") }}<br>
      {{ form.magic_item_percentage_high.label }} {{ form.magic_item_percentage_high(id="magic_item_percentage_high", title="The maximum percentage of magic items in the shop inventory of 152 possible.") }}<br>
  </fieldset>
  <fieldset>
    <legend>Potions and Scrolls Settings</legend>
      <input type="checkbox" id="consumable_checkbox" onchange="toggleConsumable(this.checked)"> Exclude Consumables<br>
      {{ form.consumable_percentage_low.label }} {{ form.consumable_percentage_low(id="consumable_percentage_low", title="The minimum percentage of scrolls and potions in the shop inventory of 100 possible.") }}<br>
      {{ form.consumable_percentage_high.label }} {{ form.consumable_percentage_high(id="consumable_percentage_high", title="The maximum percentage of scrolls and potions in the shop inventory of 100 possible.") }}<br>
  </fieldset>
  <fieldset>
    <legend>Pet and Summons Settings</legend>
    <input type="checkbox" id="pet_checkbox" onchange="togglePet(this.checked)"> Exclude Pets and Summons<br>
    {{ form.pet_percentage_low.label }} {{ form.pet_percentage_low(id="pet_percentage_low", title="The minimum percentage of pet items in the shop inventory of 14 possible.") }}<br>
    {{ form.pet_percentage_high.label }} {{ form.pet_percentage_high(id="pet_percentage_high", title="The maximum percentage of pet items in the shop inventory of 14 possible.") }}<br>
</fieldset>
  <fieldset>
    <legend>Discount and Store Inventory Settings</legend>
      {{ form.price_adjustment_low.label }} {{ form.price_adjustment_low(id="price_adjustment_low", title="The price adjustment's low percentage (-10 gives discount of up to 10%)") }}<br>
      {{ form.price_adjustment_high.label }} {{ form.price_adjustment_high(id="price_adjustment_high", title="The price adjustment's high percentage (10 gives upcharge up to 10%)") }}<br>
      {{ form.num_items_in_shop_low_percent.label }} {{ form.num_items_in_shop_low_percent(id="num_items_in_shop_low_percent", title="The minimum percentage of total items in the shop of 266 possible.") }}<br>
      {{ form.num_items_in_shop_high_percent.label }} {{ form.num_items_in_shop_high_percent(id="num_items_in_shop_high_percent", title="The maximum percentage of total items in the shop of 266 possible.") }}<br>
  </fieldset>
  <input type="checkbox" id="common_checkbox"> Add common items (coming soon!)<br>
  {{ form.submit }}
</form>

<script type="text/javascript">
  // Attach onchange event to the magic item textboxes
  document.getElementById('magic_item_percentage_low').onchange = function() {
    if (this.value != 0) {
      document.getElementById('magic_checkbox').checked = false;
    }
  }

  document.getElementById('magic_item_percentage_high').onchange = function() {
    if (this.value != 0) {
      document.getElementById('magic_checkbox').checked = false;
    }
  }

  // Attach onchange event to the consumable textboxes
  document.getElementById('consumable_percentage_low').onchange = function() {
    if (this.value != 0) {
      document.getElementById('consumable_checkbox').checked = false;
    }
  }

  document.getElementById('consumable_percentage_high').onchange = function() {
    if (this.value != 0) {
      document.getElementById('consumable_checkbox').checked = false;
    }
  }

  // Attach onchange event to the pet textboxes
  document.getElementById('pet_percentage_low').onchange = function() {
    if (this.value != 0) {
      document.getElementById('pet_checkbox').checked = false;
    }
  }

  document.getElementById('pet_percentage_high').onchange = function() {
    if (this.value != 0) {
      document.getElementById('pet_checkbox').checked = false;
    }
  }

  function toggleMagic(isChecked) {
    var magicLow = document.getElementById('magic_item_percentage_low');
    var magicHigh = document.getElementById('magic_item_percentage_high');

    if(isChecked) {
        magicLow.setAttribute('data-original', magicLow.value);
        magicHigh.setAttribute('data-original', magicHigh.value);
        magicLow.value = 0;
        magicHigh.value = 0;
    } else {
        magicLow.value = magicLow.getAttribute('data-original') || '';
        magicHigh.value = magicHigh.getAttribute('data-original') || '';
    }

    magicLow.readonly = isChecked;
    magicHigh.readonly = isChecked;
  }

  function toggleConsumable(isChecked) {
    var consumableLow = document.getElementById('consumable_percentage_low');
    var consumableHigh = document.getElementById('consumable_percentage_high');

    if(isChecked) {
        consumableLow.setAttribute('data-original', consumableLow.value);
        consumableHigh.setAttribute('data-original', consumableHigh.value);
        consumableLow.value = 0;
        consumableHigh.value = 0;
    } else {
        consumableLow.value = consumableLow.getAttribute('data-original') || '';
        consumableHigh.value = consumableHigh.getAttribute('data-original') || '';
    }

    consumableLow.readonly = isChecked;
    consumableHigh.readonly = isChecked;
  }

  function togglePet(isChecked) {
    var petLow = document.getElementById('pet_percentage_low');
    var petHigh = document.getElementById('pet_percentage_high');

    if(isChecked) {
        petLow.setAttribute('data-original', petLow.value);
        petHigh.setAttribute('data-original', petHigh.value);
        petLow.value = 0;
        petHigh.value = 0;
    } else {
        petLow.value = petLow.getAttribute('data-original') || '';
        petHigh.value = petHigh.getAttribute('data-original') || '';
    }

    petLow.readonly = isChecked;
    petHigh.readonly = isChecked;
  }

  document.getElementById('low-button').onclick = function() {
    if (!document.getElementById('pet_checkbox').checked) {
        document.getElementById('pet_percentage_low').value = "3"; 
        document.getElementById('pet_percentage_high').value = "6"; 
    }

    if (!document.getElementById('magic_checkbox').checked) {
        document.getElementById('magic_item_percentage_low').value = "25"; 
        document.getElementById('magic_item_percentage_high').value = "40";
    }

    if (!document.getElementById('consumable_checkbox').checked) {
        document.getElementById('consumable_percentage_low').value = "20"; 
        document.getElementById('consumable_percentage_high').value = "30";
    }
    document.getElementById('num_items_in_shop_low_percent').value = "5"; 
    document.getElementById('num_items_in_shop_high_percent').value = "10";
  }

  document.getElementById('medium-button').onclick = function() {
    if (!document.getElementById('pet_checkbox').checked) {
        document.getElementById('pet_percentage_low').value = "5"; 
        document.getElementById('pet_percentage_high').value = "8"; 
    }

    if (!document.getElementById('magic_checkbox').checked) {
        document.getElementById('magic_item_percentage_low').value = "35"; 
        document.getElementById('magic_item_percentage_high').value = "50";
    }

    if (!document.getElementById('consumable_checkbox').checked) {
        document.getElementById('consumable_percentage_low').value = "30"; 
        document.getElementById('consumable_percentage_high').value = "40";
    }
    document.getElementById('num_items_in_shop_low_percent').value = "10"; 
    document.getElementById('num_items_in_shop_high_percent').value = "15";
  }

  document.getElementById('high-button').onclick = function() {
    if (!document.getElementById('pet_checkbox').checked) {
        document.getElementById('pet_percentage_low').value = "10"; 
        document.getElementById('pet_percentage_high').value = "15"; 
    }

    if (!document.getElementById('magic_checkbox').checked) {
        document.getElementById('magic_item_percentage_low').value = "45"; 
        document.getElementById('magic_item_percentage_high').value = "60";
    }

    if (!document.getElementById('consumable_checkbox').checked) {
        document.getElementById('consumable_percentage_low').value = "40"; 
        document.getElementById('consumable_percentage_high').value = "50";
    }
    
    document.getElementById('num_items_in_shop_low_percent').value = "15"; 
    document.getElementById('num_items_in_shop_high_percent').value = "20";
  }
</script>

</body>
</html>
