<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ store_title }}</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1712757711675922"
    crossorigin="anonymous"></script>
</head>
<h1>{{ store_title }}</h1>
<h2>Shopkeeper Details</h2>
<p>Name: {{ shopkeeper["Name"] }}</p>
<p>Race: {{ shopkeeper["Race"] }}</p>
<p>Voice: {{ shopkeeper["Voice"] }}</p>
<br>
<table>
    <thead>
        <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in store_inventory %}
        <tr>
        <td>{{ item["Item Name"] }}</td>
        <td>{{ item["Item Price"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<body>
    <!-- Add a button to go back to the form -->
    <a href="{{ url_for('home') }}" class="btn btn-primary">Back to Shop Creator</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ url_for('download') }}" class="btn btn-primary">Download as CSV</a>
</body>
</html>
